* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	position: relative;
	z-index: -1;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
	user-select: none;
	font: 16px 'Manrope', sans-serif;
	color: white;
	background-color: #181852;
	text-align: center;
	overflow: hidden;
}

nav, #bottom_bar {
	position: fixed;
	width: 100%;
	height: 50px;
	padding: 10px;
}

nav {
	top: 0;
	background-color: rgba(10, 10, 57, .9);
	box-shadow: 0 0 10px #e763bc;
}

nav *, .horizontal_bar, #bottom_bar * { height: 30px }

nav h1, nav img, .horizontal_bar div, #bottom_bar img { line-height: 30px }

nav h1, nav #toggle_sound {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

nav h1 {
	max-width: calc(100% - 100px);
	font-size: 20px;
	font-weight: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

nav a, .horizontal_bar a, #bottom_bar a { color: white }

#back, #add_question { float: left }

#logout, #filter_questions { float: right }

main {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	padding: 60px 0 10px;
	row-gap: 10px;
}

.spread-content, .center-content { padding: 10px 0 }

.spread-content { justify-content: space-between }

.center-content { justify-content: center }

.scrollable-content {
	overflow-y: scroll;
	scrollbar-width: none;
	padding: 60px 10px 10px;
}

.scrollable-content::-webkit-scrollbar { display: none }

#question_list { height: calc(100% - 50px) }

a {
	text-decoration: none;
	color: lightblue;
}

.horizontal_bar {
	display: flex;
	width: 100%;
	max-width: 500px;
	white-space: nowrap;
}

.horizontal_bar > * { flex: 1 }

.horizontal_bar img { height: 100% }

#money_tree {
	z-index: 1;
	position: absolute;
	bottom: -100%;
	height: calc(100% - 50px);
	width: 100%;
	border-top: 2px solid white;
	background-color: #0a0a39;
	transition: bottom .3s ease;
}

#money_tree table {
	white-space: nowrap;
	height: 100%;
	margin: auto;
}

#money_tree tr:first-child, #money_tree tr:nth-child(7), #money_tree tr:nth-child(12) { color: steelblue }

#money_tree td:nth-child(2) {
	padding-left: 10px;
	text-align: left;
}

#hub {
	flex: 1;
	width: 100%;
	max-height: min(50%, 100vw);
	max-width: 500px;
	padding: 0 10px;
}

#hub > * { transition: opacity 1s ease }

#audience_opinion, #friends_opinion {
	position: relative;
	opacity: 0;
}

#audience_opinion {
	top: -100%;
	display: grid;
	height: 100%;
	max-width: 300px;
	margin: auto;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto 20px;
	gap: 10px;
	justify-items: center;
	align-items: end;
	padding-top: 30px;
}

#audience_opinion span { line-height: 20px }

#audience_opinion div {
	width: 80%;
	background-image: radial-gradient(yellow, #f99b1c);
}

#audience_opinion div span {
	position: relative;
	top: -30px;
}

#friends_opinion {
	top: -150%;
	transform: translateY(-50%);
	font-size: 20px;
}

#logo {
	height: 100%;
	/*noinspection CssUnknownTarget*/
	background: url('/assets/img/wwm_logo_light.png') center / auto 100% no-repeat;
	animation: pulsate 2500ms ease-in-out infinite alternate;
}

#logo:after {
	display: block;
	width: 100%;
	height: 100%;
	content: '';
	/*noinspection CssUnknownTarget*/
	background: url('/assets/img/wwm_logo.png') center / auto 75% no-repeat;
}

form, .button_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	row-gap: 10px;
}

form { padding: 0 10px }

.horizontal_bar form { padding: 0 }

input, select {
	width: 100%;
	max-width: 500px;
	height: 35px;
	margin: auto;
	padding: 0 10px;
	border: none;
	border-radius: 0;
	background-color: white;
	font-size: 16px;
}

input { appearance: none }

input[type="submit"] {
	background-color: dodgerblue;
	color: white;
}

#confirm {
	height: 100%;
	border: none;
	font-size: inherit;
	background-color: transparent;
}

label { line-height: 20px }

.button {
	display: flex;
	align-items: center;
	width: 94%;
	max-width: 470px;
	height: 36px;
	margin: 0 auto;
	padding: 0 8%;
	text-decoration: none;
	font-family: Arial, sans-serif;
	color: inherit;
	/*noinspection CssUnknownTarget*/
	background: url('/assets/img/blue_button.png') center / 100% 100% no-repeat;
}

.button:before {
	position: absolute;
	z-index: -1;
	right: 0;
	width: 100%;
	content: '';
	border: 1px solid #9898ff;
}

.chosen {
    cursor: default;
    color: black;
    /*noinspection CssUnknownTarget*/
    background-image: url('/assets/img/orange_button.png');
}

.correct {
    cursor: default;
    color: black;
    /*noinspection CssUnknownTarget*/
    background-image: url('/assets/img/green_button.png');
}

.button span { width: 100% }

#question { height: 88px }

.answer span { text-align: left }

.answer span:before {
	font-weight: bold;
	color: #f99b1c;
	-webkit-text-stroke: 1px black;
}

#answer_a span:before { content: 'A: ' }

#answer_b span:before { content: 'B: ' }

#answer_c span:before { content: 'C: ' }

#answer_d span:before { content: 'D: ' }

.round-box {
	background-color: white;
	width: 100%;
	max-width: 500px;
	border-radius: 8px;
}

.round-box span {
	display: block;
	padding: 10px;
	color: black;
}

.round-box .horizontal_bar {
	height: 35px;
	border-top: 1px solid gray;
}

.round-box a, .round-box div {
	color: black;
	line-height: 35px;
	border-right: 1px solid gray;
}

.round-box *:last-child {
	border-right: 0;
	color: red;
}

#bottom_bar {
	bottom: 0;
	background-color: #181852;
}

#filters {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 200px;
	background-color: #181852;
	box-shadow: 0 -10px 10px #181852;
	transition: bottom .3s ease;
}

#filters form { height: 100% }

#bg {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 0 25px;
	background: rgba(0, 0, 0, .5);
}

#popup {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes pulsate {
	from { background-size: auto 100% }
	to { background-size: auto 95% }
}

@media (min-width: 500px) {
	.button { padding: 0 40px }
}