* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	position: relative;
	z-index: -1;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	user-select: none;
	font: 16px sans-serif;
	text-align: center;
	color: white;
	background-color: #181852;
}

main {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	padding: 60px 0 10px;
	row-gap: 10px;
}

.spread-content, .center-content { padding: 10px 0 }

.spread-content { justify-content: space-between }

.center-content { justify-content: center }

a {
	text-decoration: none;
	color: lightblue;
}

nav {
	position: fixed;
	width: 100%;
	height: 50px;
	padding: 10px;
	font-family: 'Manrope', sans-serif;
	background-color: rgba(10, 10, 57, .9);
	box-shadow: 0 0 10px #e763bc;
    top: 0;
}

nav *, .horizontal_bar { height: 30px }

nav h1, nav img, .horizontal_bar div { line-height: 30px }

nav h1, nav #toggle_sound {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

nav h1 {
	overflow: hidden;
	max-width: calc(100% - 100px);
	font-size: 20px;
	font-weight: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
}

nav a, .horizontal_bar a { color: white }

#back { float: left }

#logout { float: right }

.horizontal_bar {
	display: flex;
	flex-shrink: 0;
	width: 100%;
	max-width: 500px;
	white-space: nowrap;
}

.horizontal_bar div, .horizontal_bar span { flex: 1 }

.horizontal_bar img { height: 100% }

#money_tree {
	position: absolute;
	z-index: 1;
	bottom: -100%;
	width: 100%;
	height: calc(100% - 50px);
	transition: bottom .3s ease;
	border-top: 2px solid white;
	background-color: #0a0a39;
}

#money_tree table {
	height: 100%;
	margin: auto;
	white-space: nowrap;
}

.current_level { color: orange }

#money_tree td:nth-child(2) {
	padding-left: 10px;
	text-align: left;
}

#hub {
	flex: 1;
	width: 100%;
	max-width: 500px;
	max-height: min(50%, 100vw);
	padding: 0 10px;
}

#hub > * { transition: opacity 1s ease }

#audience_opinion, #friends_opinion {
	position: relative;
	opacity: 0;
}

#audience_opinion {
	top: -100%;
	display: grid;
	align-items: end;
	max-width: 300px;
	height: 100%;
	margin: auto;
	padding-top: 30px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto 20px;
	gap: 10px;
	justify-items: center;
}

#audience_opinion span { line-height: 20px }

#audience_opinion div {
	width: 80%;
	background-image: radial-gradient(yellow, #f99b1c);
}

#audience_opinion div span {
	position: relative;
	top: -30px;
}

#friends_opinion {
	top: -150%;
	transform: translateY(-50%);
	font-size: 20px;
}

#logo {
	height: 100%;
	animation: pulsate 2500ms ease-in-out infinite alternate;
	/*noinspection CssUnknownTarget*/
	background: url('/assets/img/wwm_logo_light.png') center / auto 100% no-repeat;
}

#logo:after {
	display: block;
	width: 100%;
	height: 100%;
	content: '';
	/*noinspection CssUnknownTarget*/
	background: url('/assets/img/wwm_logo.png') center / auto 75% no-repeat;
}

form, .button_wrapper {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: 100%;
	row-gap: 10px;
}

.button {
	display: flex;
	align-items: center;
	width: 94%;
	max-width: 470px;
	height: 36px;
	margin: 0 auto;
	padding: 0 8%;
	text-decoration: none;
	color: inherit;
	/*noinspection CssUnknownTarget*/
	background: url('/assets/img/blue_button.png') center / 100% 100% no-repeat;
}

.button:before {
	position: absolute;
	z-index: -1;
	right: 0;
	width: 100%;
	content: '';
	border: 1px solid #9898ff;
}

.button:not(#question, .disabled):hover {
	cursor: default;
	color: black;
	/*noinspection CssUnknownTarget*/
	background-image: url('/assets/img/orange_button.png');
}

.button span { width: 100% }

#question { height: 72px }

.answer span { text-align: left }

.answer span:before {
	font-weight: bold;
	color: #f99b1c;
	-webkit-text-stroke: 1px black;
}

#answer_a span:before { content: 'A: ' }

#answer_b span:before { content: 'B: ' }

#answer_c span:before { content: 'C: ' }

#answer_d span:before { content: 'D: ' }

form {
    padding: 0 10px;
}

input, select {
	width: 100%;
	max-width: 500px;
	height: 30px;
	margin: 1px auto;
	padding: 0 10px;
    font-size: 16px;
}



@keyframes pulsate {
	from { background-size: auto 100% }
	to { background-size: auto 95% }
}

@media (min-width: 500px) {
	.button { padding: 0 40px }
}


